<%- include('../_layouts/adminheader') %>

<div class="card mt-3">
    <div class="card-body">

        <p class="card-text"> <%= title %> </p>
    
    </div>
</div>


<%- include('../_layouts/adminfooter') %>